<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>停車場管理系統</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <h2>車牌偵測</h2>
        <video id="video" autoplay playsinline></video>

        <canvas id="canvas" style="display: none"></canvas>

        <p id="yolo-recognized-plate">等待偵測...</p>
        <input type="text" id="entry-plate" placeholder="輸入車牌號碼" />
        <button onclick="vehicleEntry()">車輛進場</button>

        <!-- 車位列表 -->
        <h3>車位列表</h3>
        <table id="parking-spaces-table">
            <thead>
                <tr>
                    <th>車位編號</th>
                    <th>狀態</th>
                    <th>車牌號碼</th>
                    <th>充電服務</th>
                    <th>充電費用</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <a href="/record_page">紀錄操作</a>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
